html {
  font-family: Helvetica;
  text-align: center;
}
#top {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url(building.png);
}
#process {
  font-size: 32px;
  font-weight: bold;
}
